<li data-post-comment="<?php echo($comment['id']) ?>" title="<?php echo(time2str($comment['time'])) ?>">
	<div class="user-avatar">
		<img src="<?php echo(media($comment['avatar'])) ?>" class="img-circle" />
	</div>
	<div class="pp_com_body">
		<span>
			<strong><a href="<?php echo(un2url($comment['username'])) ?>"  data-ajax="profile/profile/<?php echo($comment['username']) ?>"><?php echo($comment['username']) ?></a></strong> 
			<?php echo($comment['text']) ?>
		</span>
	</div>
	<?php if ($comment['is_owner']) { ?>
		<span class="pull-right delcomment" title="{{LANG delete_comment}}" onclick="delete_commnet(<?php echo($comment['id']) ?>);">
			<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
		</span>
	<?php } ?>
</li>