<?php if ($msg_data['from_id'] == $context['user']['user_id']) { ?>
<div class="message-list-item right" data-id="<?php echo($msg_data['id']) ?>">
	<div class="message-list-item__inner right">			
		<div class="message__data">
			<p class="message__text"><?php echo($msg_data['text']) ?></p>
			<time class="pull-right"><span class="time-ago" title="<?php echo(ToDate($msg_data['time'])) ?>"><?php echo(time2str($msg_data['time'])) ?></span><time>
		</div>
		<div class="user__avatar">
			<img src="<?php echo($context['user']['avatar']) ?>" class="img-circle">	
		</div>
	</div>
</div>
<?php } else{ ?>
<div class="message-list-item left" data-id="<?php echo($msg_data['id']) ?>">
	<div class="message-list-item__inner left">
		<div class="user__avatar">
			<img src="<?php echo(media($context['user_data']['avatar'])) ?>" class="img-circle">	
		</div>
		<div class="message__data">
			<p class="message__text"><?php echo($msg_data['text']) ?></p>
			<time><span class="time-ago" title="<?php echo(ToDate($msg_data['time'])) ?>"><?php echo(time2str($msg_data['time'])) ?></span><time>
		</div>
	</div>
</div>
<?php } ?>